.btn {
    display: inline-flex;
    align-items: center;
    border: 0;
    margin: var(--space-sm);
    padding: var(--space-xs);
    border-radius: var(--space-xxs);
    text-transform: capitalize;

    text-align: center;
    font-size: inherit;

    &:hover {
        cursor: pointer;
    }
}

.outline {
    background-color: var(--accent-color);

    &:hover {
        color: var(--light-color);
    }

}

.light {
    background-color: var(--light-color);

    &:hover {
        opacity: 0.9;
    }
}


/* TABLET PORTRAIT */
@container (width >=37.5em) {
    .btn {
        flex-basis: 13em;
    }
}