.form__group {
    margin: var(--space-sm);
    display: flex;
    align-items: center;
    justify-content: end;
}

.form__control {
    width: 30em;
    font: inherit;
    padding: var(--space-xs);
    border-radius: var(--space-xxs);
    border: none;
    background-color: var(--accent-color);
}


.form__control::placeholder {
    color: var(--dark--color);
}

/* TABLET PORTRAIT */
@container (width >=37.5em) {
    .form__group {
        margin-right: 0;
    }
}